<title>Post</title>

<h1>{{ post.name }}</h1>
<h2>{{ post.author }}</h2>

<hr>
<p>
{{ post.content }}
</p>

<a href="/posts/{{ post.id }}/edit">Edit post</a><br/><br/>
<form action="/posts/{{ post.id }}/delete" method="post">
  <button type="submit">Delete post</button>
</form>
<br/>

<form action="/comments/new" method="post">
  <select name="" id="">
    {% for name in post.categories() %}
    <option value='{{ name }}'></option>
    {% endfor %}
  </select>
  <button type="submit">Set category</button>
</form>


<form action="/comments/new" method="post">
  <input type="text" name="message">
  <input type="hidden" name="post_id" value="{{ post.id }}">
  <button type="submit">Create comment</button>
</form>
<div id="comments" style="border: 1px solid black">
{% for comment in post.comments() %}
  {{ comment.message }}
  <br/>
  <br/>
{% endfor %}
</div>
